.menu{
    color: darkred;
}
.menu nav{

}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

}

.menu li{
    float: left;
}

.menu-login li {
    float:right;   
}
.menu li a:hover{
    background-color: #111;
}
.menu a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active{
    background-color: #04AA6D
}